# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate

# Xcode build products
build/
DerivedData/

# Swift Package Manager
.build/
Packages/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
