<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>$(BUILD_MACHINE_OS_BUILD)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>$(PLATFORM_NAME)</string>
	</array>
	<key>ClerkAssociatedDomain</key>
	<string>$(CLERK_ASSOCIATED_DOMAIN)</string>
	<key>ClerkPublishableKey</key>
	<string>$(CLERK_PUBLISHABLE_KEY)</string>
	<key>ConvexDeploymentURL</key>
	<string>$(CONVEX_DEPLOYMENT_URL)</string>
	<key>DTCompiler</key>
	<string>$(DT_COMPILER)</string>
	<key>DTPlatformBuild</key>
	<string>$(DT_PLATFORM_BUILD)</string>
	<key>DTPlatformName</key>
	<string>$(DT_PLATFORM_NAME)</string>
	<key>DTPlatformVersion</key>
	<string>$(DT_PLATFORM_VERSION)</string>
	<key>DTSDKBuild</key>
	<string>$(DT_SDK_BUILD)</string>
	<key>DTSDKName</key>
	<string>$(DT_SDK_NAME)</string>
	<key>DTXcode</key>
	<string>$(DT_XCODE)</string>
	<key>DTXcodeBuild</key>
	<string>$(DT_XCODE_BUILD)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LiftingLogEnvironment</key>
	<string>$(LIFTING_LOG_ENVIRONMENT)</string>
	<key>MinimumOSVersion</key>
	<string>$(IPHONEOS_DEPLOYMENT_TARGET)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
